/* Nilufer Anlar, ITMD-362 Lab2
   Scroll friendly mobile first version: mystyle.css */

/* ===== Basic Styles ========= */

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;  /* 20px / 16px = 1.25em */
  line-height: 1.2em;  /* 24px / 20px = 1.2em */
}

h2, p {
  padding-bottom: 1.2em; /* 24px / 20px = 1.2em */
}

label {
  color: blue;
  background-color: beige;
}

/* make submit bigger and red for mobile */
input[type=submit] {
  width: 5em;
  height: 2em;
  color: red;
}

/* for tablets, desktops and wide screens */
@media screen and (min-width: 480px) {
  label {
    color: green;
    background-color: linen; 
  }
  
  input[type=submit] {
  width: 3em;
  height: 1.5em;
  color: red;
  }
} 








