/* Nilufer Anlar, ITMD-362 Lab2
   Scroll friendly mobile first version: mystyle.css */

/* ===== My Styles ========= */

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em; 
  line-height: 1.2em;
}

body {
  font-size: 1.25em;  
  line-height: 1.2em;  
  }

p {
  padding-bottom: 1.2em;  
}

h1 {
  font-size: 2.5em;  
}

input[type=submit] {
  width: 5em;
  height: 2em;
  color: red;
}

@media screen and (min-width: 480px) {
  label {
    color: green;
    background-color: linen; 
  }
} 









