/* Nilufer Anlar, ITMD-362 Lab2
   Scroll friendly mobile first version: mystyle.css */

/* ===== My Styles ========= */

/* Used Minor 3rd 120% in Math calculations below */

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.25em;  /* (20px/16px=1.25em) */
  line-height: 1.2em;  /* (1.2X20=24px), (24px/20px=1.2em) */
}

body {
  font-size: 1.25em;  /* (20px/16px=1.25em) */
  line-height: 1.2em;  /* (1.2X20=24px), (24px/20px=1.2em) */
  }

p {
  padding-bottom: 1.2em;  /* (24px/20px=1.2em) */
}

h1 {
  font-size: 2.5em;  /* (50px/20px=2.5em) */
}

/* make submit bigger and red for mobile */
input[type=submit] {
  width: 5em;
  height: 2em;
  color: red;
}

/* for tablets, desktops and wide screens */
/*
@media screen and (min-width: 480px) {
  label {
    color: green;
    background-color: linen; 
  }
} 
*/








